@import "../abstracts/variables.scss";

.base-btn {
  cursor: pointer;
  min-width: 100px;
  height: 38px;
  border-radius: 6px;
  border: none;
  background-color: $base-btn-color;
  color: $base-color-white;
  font-weight: 500;
  font-size: 13px;
  padding: 0 16px;

  &:hover {
    background-color: $base-btn-hover-color;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}