@import "../abstracts/variables.scss";

.form-label {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 4px;
}

.select-input {
  .rs__control {
    min-height: 36px;
    height: 36px;
  }
}

.form-control-custom {
  height: 38px;
}